<div>
	<%= @story.inspect %>
	<div>
		image goes here
		<%= @story[:image_url] %>
		<div>
			Add a slider, but for now just list them
			<ol>
				<% @win_seg.each do |seg| %>
					<%= seg.sentence.inspect %>
				<% end %>
			</ol>
		</div>
		<div>
			time info and book button
			<%= @win_seg.last.created_at %>
			<%= @story.segment_ended? %>
		</div>
		<div>
			contributors and likes
			<%= @contributors %>
		</div>
	</div>

	<div>
		write here ajax here
		<%= form_for @new_segment do |f| %>
		<%= f.text_field :sen %> 
		<%= f.text_field :story_id, value:@story.id %>
		<%= f.submit %>
		<% end %>
	</div>
	<div>
		container for segments
		<% @segs.each do |active_seg| %>
			<ol>
			<div>
				<%= active_seg.sentence.sentence %>
				<%= active_seg.sentence.vote %>
			</div>
			</ol>
		<% end %>
		<div>
			each segments goes here
		</div>
	</div>
</div>