<div class="story_show_container">
	<div class="center_show_story">
		<div class="image_show_container" style="background-image: url(<%="#{@root_url}#{@story.image_url}#{@query}"%>)">
			<div class="show_story_title">
				<h1 id="show_titles_h1"><%= @story.title %></h1>
				<ol>
					<%#<% @win_seg.each do |seg| %>
						<%#<%= seg.sentence.inspect %>
					<%#<% end %>
				</ol>
			</div>
			<div class="description_continatiner">
				<div class="description_left_show_container">
					<div>
						<p>Next Update: <%= @display %></p>
						<%= @story.segment_ended? %>
					</div>
				</div>
				<div class="description_right_show_container">
					<div>
						<%= @contributors %>
					</div>
				</div>
			</div>
		</div>
		<% if user_signed_in? %>
			<div>
				<%= form_for @new_segment do |f| %>
				<%= f.text_area :sen, :class => 'story_show_input', placeholder:"Write here...", :autocomplete => 'off'%> 
				<%= f.hidden_field :story_id, value:@story.id %>
				<%= f.submit "create", :id => 'story_show_submit', :class => 'material-icons' %>
				<% end %>
			</div>
		<% end %>
		<div>
			<% @sorted.each do |active_seg| %>
				<div class="story_segments">
						<div class="segment_left">
							<button type="submit" class="material-icons up" value="<%=active_seg.to_json%>">keyboard_arrow_up</button>
							<% votes = active_seg.sentence %>
							<p class="vote_counts" id="vote<%="#{active_seg.id}"%>"><%=votes.get_likes.size - votes.get_dislikes.size%></p>
							<button type="submit" class="material-icons down" value="<%=active_seg.to_json%>">keyboard_arrow_up</button>
						</div>
					<div class="story_segment_body">

						<div class="segment_right">
							<p><%= active_seg.sentence.sentence %></p>
						</div>
						
					</div>
				</div>
			<% end %>
			<div>
			</div>
		</div>
	</div>
</div>